:root {
  --txt-color: #1c1c21;
  --main-bg: #FFFFFF;
  --secondary-bg: #EDEEF1; 

  --fs-sm: 1.25rem; /* 20px */
  --fs-lg: 3.5rem; /* 56px */
  --fs-xl: 5.125rem;
}
@font-face {
  font-family: "formular";
  src: url("../assets/fonts/formular-regular-trial.otf");
  font-weight: 400;
}

/* reset styles */
*, 
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: var(--txt-color);
}
h2 {
  font-size: var(--fs-lg);
}
body {
  font-family: "formular";
  color: var(--txt-color);
}
h1 {
  font-size: var(--fs-xl);
}
h1 span {
  display: block;
  text-transform: capitalize;
}
.hero {
  font-size: var(--fs-sm); 
}
.projects {
  background-color: var(--secondary-bg);
}
/* components */
.card {
  background: var(--main-bg);
  border-radius: 15px;
  overflow: hidden;
}
.card__header {
  background-color: red;
  padding: 1rem;
}
.card__body {
  background-color: var(--main-bg);
  padding: 1rem;
}

