:root {
  --txt-color: #1c1c21;
  --main-bg: #FFFFFF;
  --secondary-bg: #EDEEF1; 

  --fs-sm: 1.25rem; /* 20px */
  --fs-lg: 3.5rem; /* 56px */
  --fs-xl: 5.125rem;

  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 2rem;
  --space-lg: 4rem;
  --space-xl: 6rem;
}
@font-face {
  font-family: "formular";
  src: url("../assets/fonts/formular-regular-trial.otf");
  font-weight: 400;
}
@font-face {
  font-family: "formular";
  src: url("../assets/fonts/formular-bold-trial.otf");
  font-weight: 700;
}

/* reset styles */
*, 
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: var(--txt-color);
}
body {
  font-family: "formular";
  color: var(--txt-color);
}
main {
  font-size: var(--fs-sm);
}
main section:nth-child(even) {
  background-color: var(--secondary-bg); 
}
h2 {
  font-size: var(--fs-lg);
}
h1 {
  font-size: var(--fs-xl);
}
/* general styles */ 
ul {
  list-style: none;
}
h1 {
  margin-bottom: var(--space-md);
}
h1 span {
  display: block;
  text-transform: capitalize;
}
/* layout */
.container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: var(--space-md);
}
section {
  padding-block: var(--space-xl);
}
/* hero section */
.hero__text {
  line-height: 33px;
}
/* components */
/* card component */
.tags {
  display: flex;
  gap: var(--space-xs);
  flex-wrap: wrap;;
}
.card {
  background: var(--main-bg);
  border-radius: 15px;
  overflow: hidden;
}
.card__header {
  background-color: red;
  color: var(--main-bg);
  padding: var(--space-md);
}
.card__body {
  background-color: var(--main-bg);
  padding: 1rem;
  padding: var(--space-md);
}
.card .tag {
  text-transform: uppercase;
  font-weight: 700;
  padding: var(--space-xs);
  border-radius: 5px;
}
/* expertise section */
.expertise .tag {
  text-transform: capitalize;
  padding: 1.5rem 2rem;
  margin: 0.5rem;
  border: 1px solid var(--txt-color);
  border-radius: 50px;
}
