@font-face {
  font-family: "formular";
  src: url("../assets/fonts/formular-regular-trial.otf");
  font-weight: 400;
}

/* reset styles */
*, 
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "formular";
}
